.button {
    width: 40px;
    height: 40px;

    background: var(--primary);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 5%);

    cursor: pointer;
}

.primary {
    background-color: var(--primary);
}

.primary svg * {
    fill: var(--white);
}

.primary:hover {
    background-color: var(--primary-hover);
}

.white {
    background: var(--white);
    border: solid 1px var(--grey-light);
}

.white svg * {
    fill: var(--primary);
}

.white:hover {
    background-color: var(--primary);
}

.white:hover svg * {
    fill: var(--white);
}