.firstLevel {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;

	align-items: center;

	font-weight: 500;
	font-size: 18px;
	line-height: 25px;

	color: var(--grey-dark);

	margin-top: 20px;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondLevel {
	margin-bottom: 10px;

	cursor: pointer;

	text-transform: uppercase;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;

	outline-offset: -1px;

	color: var(--grey-dark);
}


.secondBLock {
	margin-left: 12px;
	padding-left: 32px;
	margin-top: 15px;
	border-left: solid 1px #DFDFDF;
}

.secondLevelBlock {
	overflow: hidden;
}

.thirdLevel {
	margin-bottom: 10px;
	display: block;

	cursor: pointer;

	color: var(--grey-dark);
	font-weight: 500;
	font-size: 14px;

	outline-offset: -1px;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}